<body style="background-color:#eaece5"></body>
</div>
<div class="user-details">
 
  <h1>Good Day!</h1>

  <h1>My Resume: </h1>
  <div class="block">
  <a aria-label="Download" target="_blank" href="https://drive.google.com/file/d/15q9jUSsmHL0M-GDbzuedI-rTcP2k0ebE/view?usp=share_link">
    <i style="padding-left: 5px" class="fas fa-download"></i></a>
  </div>
</div>
</div>

</div>
<div class="user">
  <div class="tech">
    <h2>About me</h2>
    <p style="padding: 0px,60px; text-align: left">I'm Hao-Tse Wu, programmer just walking into this field who is Passionate, hardworking . Always
      eager to learn and leverage my skills and happy to talk about everything I've done, job opportunities or anything.</p>
  </div>
</div>

</div>
<div class="user-details">
  <h2>Work Experiences</h2>
</div>

<div class="user">
  <div class="tech">
    <h2 style="text-align: left">Cinematic Designer</h2>
    <p class="content" style="font-weight: bold">I Got Games.INC Canada</p>
    <p class="content">Design, and develop Whitebox of in-game user acquisition video content in unity.</p>
    <p class="content">Create scripts in c# to improve presentability or achieve certain behaviours for the cinematic. </p>
    <p class="content">Collaborate with artists to implement actual 3d models for the video. </p>
    <p class="content">Collaborate with programmers to develop tools for the project. 
    </p>
  </div>
</div>
</div>

</div>
<div class="user-details">
  <h2>Game-Dev Experiences</h2>
</div>
<div class="user">
  <div class="tech">
    <h2 style="text-align: left">Swift Striker (c#) VFS </h2>
    <p class="content" style="font-weight: bold">2D 2v2 Volleyball Game (Unity)</p>
    <p class="content">Implemented player general moving and hitting abilities</p>
    <p class="content">Implemented user screen to screen navigation</p>
    <p class="content">Implemented animations</p>
    <p class="content">Implemented stage functions and win/ lose condition</p>
  </div>
  <div class="tech">
    <h2 style="text-align: left">Fracture(UE BP) VFS</h2>
    <p class="content" style="font-weight: bold">3v3 Third Person area brawler (Unreal Engine)</p>
    <p class="content">Implemented and iterated on all in-game and menu UI</p>
    <p class="content">Implemented networking (LAN Master Client)</p>
    <p class="content">Implemented animations</p>
    <p class="content">Implemented death camera and spectate camera</p>
    <p class="content">Implemented and iterated on brute Air Leaping, swift dashing, general parrying, taunting and htting abilities</p>
    <p class="content">Balanced game value.</p>
  </div>
  <div class="tech">
    <h2 style="text-align: left">Pokemon(c#) Personal Project </h2>
    <p class="content"style="font-weight: bold">Pokemon type of game which player uses programming language as pokemon (Unity)</p>
    <p class="content">Implemented pokemon battle, wild encouter, switching pokemon in battle, npc battle systems</p>
    <p class="content">Implemented general player moving and interactive with object abilities</p>
    <p class="content">Implemented and iterated on all in-game and menu UI</p>
    <p class="content">Implemented audio, game art and animation</p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2 style="text-align: left">Weekend Normal(c#) Globel Game Jam </h2>
    <p class="content"style="font-weight: bold">Visual Novel (Unity)</p>
    <p class="content">Implemented in-game and menu UI</p>
    <p class="content">Iterated stats and events systems.</p>
  </div>
  <div class="tech">
    <h2 style="text-align: left">MicroGames(c#)</h2>
    <p class="content"style="font-weight: bold">Mobile game include 10 micro games(Unity)</p>
    <p class="content">Implemented 5 micro games’ gameplay each with 3 different levels.</p>
  </div>
  <div class="tech">
      <h2 style="text-align: left">Silver Bullet(Java)</h2>
      <p class="content"style="font-weight: bold">2-4 player turn base area (JavaFX) </p>
      <p class="content">Implemented and iterated on in-game and menu UI</p>
      <p class="content">Implemented pick ups and firing abilities. </p>
  </div>
</div>
</div>

<div class="user-details">
  <h2>Hobbies</h2>
</div>
<div class="user">
  <div class="tech">
    <h2>Video Games</h2>
    <p>Strategy games | Dota2 | APEX </p>
  </div>
  <div class="tech">
    <h2>Games Development</h2>
  </div>
  <div class="tech">
    <h2>Sports</h2>
    <p>Football(Soccer) | Ultimate Frisbee </p>
  </div>
</div>


<style>
  * {
    box-sizing: border-box;
  }

  .photo {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
  }

  .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  a:link {
    text-decoration: none;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
    text-emphasis-color: black;
    text-decoration-color: black;
  }

  a:hover {
    text-decoration: underline;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: black;
  }

  a:active {
    text-decoration: none;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: rgb(0, 0, 0);
  }

  p.title {
    
    text-align: left
  } 
  
  p.content {
    text-align: left
    
  }

</style>