<body style="background-color:#eaece5"></body>
<div class="user-details">
  <h1>Good Day!</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>About me</h2>
    <p style="padding: 0px,60px; text-align: left">I'm Hao-Tse Wu, a game programmer just walking into this field who is Passionate, hardworking to make cool games. Always
      eager to learn and leverage my skills and happy to talk about games I've done, job opportunities or anything.</p>
  </div>
</div>

<div class="user-details">
  <h2>Experiences</h2>
</div>
<div class="user">
  <div class="tech">
    <h2>Swift Striker (c#). VFS </h2>
    <h2>2D 2v2 Volleyball Game (Unity)</h2>
    <p>Implemented player general moving and hitting abilities</p>
    <p>Implemented user screen to screen navigation</p>
    <p>Implemented animations</p>
    <p>Implemented stage functions and win/ lose condition</p>
  </div>
  <div class="tech">
    <h2>Fracture(UE BP). VFS</h2>
    <h2>3v3 Third Person area brawler (Unreal Engine)</h2>
    <p>Implemented and iterated on all in-game and menu UI</p>
    <p>Implemented networking (LAN Master Client)</p>
    <p>Implemented animations</p>
    <p>Implemented death camera and spectate camera</p>
    <p>Implemented and iterated on brute Air Leaping, swift dashing, general parrying, taunting and htting abilities</p>
    <p>Balanced game value.</p>
  </div>
  <div class="tech">
    <h2>Silver Bullet(Java). CA</h2>
    <h2>2-4 player turn base area (JavaFX) </h2>
    <p>Implemented and iterated on in-game and menu UI</p>
    <p>Implemented pick ups and firing abilities. </p>
  </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Weekend Normal(c#). Globel Game Jam </h2>
    <h2>Visual Novel (Unity)</h2>
    <p>Implemented in-game and menu UI</p>
    <p>Iterated stats and events systems.</p>
  </div>
  <div class="tech">
    <h2>MicroGames(c#). CA</h2>
    <h2>Mobile game include 10 micro games(Unity)</h2>
    <p>Implemented 5 micro games’ gameplay each with 3 different levels.</p>
  </div>
  <div class="tech">
    <h2>Pokemon(c#). Personal Project </h2>
    <h2>Pokemon type of game which player uses programming language as pokemon (Unity)</h2>
    <p>Implemented pokemon battle, wild encouter, switching pokemon in battle, npc battle systems</p>
    <p>Implemented general player moving and interactive with object abilities</p>
    <p>Implemented and iterated on all in-game and menu UI</p>
    <p>Implemented audio, game art and animation</p>
  </div>
</div>

<div class="user-details">
  <h2>Hobbies</h2>
</div>
<div class="user">
  <div class="tech">
    <h2>Video Games</h2>
    <p>Strategy games | Dota2 | Tekken 7 | Rainbow Six Siege | FIFA </p>
  </div>
  <div class="tech">
    <h2>Sports</h2>
    <p>Football(Soccer) | Ultimate Frisbee </p>
  </div>
</div>


<style>
  * {
    box-sizing: border-box;
  }

  .photo {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
  }

  .photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
  }

  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  a:link {
    text-decoration: none;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
    text-emphasis-color: black;
    text-decoration-color: black;
  }

  a:hover {
    text-decoration: underline;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: black;
  }

  a:active {
    text-decoration: none;
    text-emphasis-color: black;
    text-decoration-color: black;
    color: rgb(0, 0, 0);
  }

  p {
    font-size: medium;
    font-weight: bold;
  }
</style>