<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>Hao-Tse Wu</p>
    <a href="https://smallseotools.com/visitor-hit-counter/" target="_blank" title="Visitor Hit Counter">
        <img src="https://smallseotools.com/counterDisplay?code=001ee10f5dd9d7caf1754101acb22d67&style=009&pad=5&type=ip&initCount=1"  title="Visitor Hit Counter" Alt="Visitor Hit Counter" border="0">
        </a>
        
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
