<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <script src="https://kit.fontawesome.com/a09c14740d.js"></script>
    <div>
        <p>Hao-Tse Wu</p>
        <div class="powered-by">
                <i style="float: right;" class="fa fa-user-md"></i><span id="busuanzi_container_site_uv">
                  : <span id="busuanzi_value_site_uv"></span>
                </span>
         </div>
    </div>
    
        
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
