<!doctype html>
<html>
    <head>
      <script src="https://kit.fontawesome.com/a09c14740d.js"></script>

      <link rel="stylesheet" href="styles.css">
      <style>
      .fab{
        color: rgb(255, 255, 255)
      }

      .fab:hover{
        color: rgb(255, 187, 187)
      }
      </style>

    </head>
  
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
        <span style="font-size:20px;" class="site-description">{{ site.email }}</span>
        
      </h1>
      <div class="header-icons">
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/hao-tsewu/"><i style="padding-right: 5px" class="fab fa-linkedin-in fa-3x"></i></a>
   
        <a aria-label="My Github" target="_blank" href="https://github.com/maxroo"><i style="padding-left: 5px" class="fab fa-github fa-3x"></i></a>

      </div>

      <div class="header-links">
        <a class="link" href="../game_project.html#about" >Game Projects</a>
        <div class="navbar">
          <div class="dropdown">
            <a class="link" href="../other_projects.html#about">My Projects</a>
            <span class="dropbtn">My Projects</span>
            <div class="dropdown-content">
                <a href="#project1">Project 1: Practice with Gymnasium</a>
                <a href="#project2">Project 2: Arduino Embedded Systems</a>
                <a href="#project3">Project 3: Retrieval-Augmented Generation</a>
            </div>
          </div> 
      </div>

      </div>


  </div>
  <!-- <a class="down" href="../aboutMe.html" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a> -->
</div>

