<!doctype html>
<html>
    <head>
      <script src="https://kit.fontawesome.com/a09c14740d.js"></script>

      <style>
      .fab{
        color: rgb(255, 255, 255)
      }

      .fab:hover{
        color: rgb(255, 187, 187)
      }
      </style>

    </head>
  
<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
        <span style="font-size:20px;" class="site-description">{{ site.email }}</span>
        
      </h1>
      <div class="header-icons">
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/hao-tsewu/"><i style="padding-right: 5px" class="fab fa-linkedin-in fa-3x"></i></a>
   
        <a aria-label="My Github" target="_blank" href="https://github.com/maxroo"><i style="padding-left: 5px" class="fab fa-github fa-3x"></i></a>

      </div>
      <div class="header-links">
        <a class="link" href="../aboutMe.html#user-details" >About Me/Resume</a>
        <a class="link" href="../game_project.html#user-details" >Game Projects</a>
        <a class="link" href="../other_projects.html#user-details">Other Projects</a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>


