
<div class="user-details">
    <h1>Projects</h1>
</div>
<div class="user">
  <div class="tech">
      <h2 style="text-align: left">Role: </h2>
     <p class="content"> Gameplay and UI programmer </p>
    <h2 style="text-align: left">Swift Striker (c#) VFS </h2>
    <p class="content" style="font-weight: bold">2D 2v2 Volleyball Game (Unity)</p>
    <h2 style="text-align: left">Responsibilities: </h2>
    <p class="content">Implemented player general moving and hitting abilities</p>
    <p class="content">Implemented user screen to screen navigation</p>
    <p class="content">Implemented animations</p>
    <p class="content">Implemented stage functions and win/ lose condition</p>
  </div>
  <div class="tech">
      <h2 style="text-align: left">Team Members:</h2>
      <p class="content">Hao-Tse Wu: Gameplay and UI programmer</p>
      <p class="content">Luis Matamoros: Gameplay programmer</p>
      <p class="content">Brandon McLeod: Project Manager</p>
      <p class="content">Bruno Prosdocimo: Level Designer</p>
      <p class="content">Koi Zheng: Artist</p>
  </div>
</div>
  <div class="user">
    <div class = "tech"> 
      <h2><a href="../index2.html">Swift Striker</a></h2>
      <div class="videoWrapper">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/wY7w1Y49CyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>


<style>
  * {
    box-sizing: border-box;
  }
  
  .videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
  </style>